.sidebar{
  background-color: #f8f9fa;
  height: calc(100vh - 56px);
}
.sidebar li{
  text-align: center;
  padding: 10px 5px;
}
.sidebar li a{
  text-decoration: none;
}
.table tr td:nth-child(4),.table tr th:nth-child(4){
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

